<ion-header color-ion-header>
    <ion-toolbar color-ion-header>
        <!-- botón menu -->
        <ion-buttons slot="start">
            <ion-button color-ion-header>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-label class="login-header" padding>
            <ion-img class="logo-img" src="../assets/logo.png"></ion-img>
        </ion-label>

        <!-- botón desconectarse -->
        <ion-buttons slot="end">
            <ion-button (click)="logout()" color-ion-header>
                <ion-icon name="apps-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Bienvenido App !!!</h3>
</ion-content>